<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="http://www.csangharsha.com.np" target="_blank">The Complete Ruby on Rails Developer</a>
    by <em><a href="http://www.csangharsha.com.np" target="_blank">Sangharsha Chaulagain</a></em>
    </small>
  </footer>
</div>
